/* RESET */

* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
	font-size: 10px;
	scroll-behavior: smooth;
}

/* NAV */

nav {
	position: fixed;
	right: 50px;
	top: 40%;
	z-index: 1;
}

nav ul li {
	margin-bottom: 30px;
	position: relative;
}

nav ul li a .cir {
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
	border: 2px solid black;
}

nav ul li a .txt {
	display: none;
	position: absolute;
	right: 30px;
	top: 0;
	font-size: 20px;
	color: #fff;
}

nav ul li:hover .txt {
	display: block;
}

/* nav ul li a:visited .cir {
	background: red;
} */

/* HEADER */

header {
	height: 100vh;
	background: url("../images/Portada.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: grayscale(1);
}

header h1,
header h1 span {
	font-size: 20rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 900;
	-webkit-text-stroke: 5px #000;
	color: transparent;
	display: block;
	text-align: center;
	line-height: 100%;
}

/* HISTORIA */

.historia {
	height: 100vh;
	padding: 0 100px;
	display: flex;
	align-items: center;
	background: #333;
}

.historia article h2 {
	font-size: 2.5rem;
	margin-bottom: 30px;
	color: #eee;
}

.historia article p {
	font-size: 1.6rem;
	line-height: 170%;
	margin-bottom: 20px;
	color: #eee;
}

/* MIEMBROS */

.miembros {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #222;
}

.miembros h2 {
	font-size: 2.5rem;
	margin-bottom: 30px;
	color: #eee;
}

.miembros ul {
	display: flex;
	justify-content: space-between;
}

.miembros ul li {
	width: 22%;
	text-align: center;
}

.miembros ul li img {
	width: 80%;
	border-radius: 50%;
	display: block;
	margin: 0 auto 20px;
}

.miembros ul li h3 {
	font-size: 2rem;
	margin-bottom: 10px;
	color: #eee;
}

.miembros ul li p {
	font-size: 1.6rem;
	color: #eee;
}

/* CONTACTO */

.contacto {
	background: #111;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.contacto h2 {
	font-size: 2.5rem;
	margin-bottom: 30px;
	color: #eee;
}

.contacto form {
	display: flex;
	flex-direction: column;
	width: 40%;
}

.contacto form input,
.contacto form textarea {
	border: none;
	padding: 1rem;
	margin-bottom: 10px;
	font-size: 1.6rem;
	color: #333;
	outline: none;
	resize: none;
}

.contacto form input.enviar {
	background: #333;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
}
